@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
/* Navbar start */
header nav {
  position: sticky;
  padding-top: 33px;
  padding-bottom: 12px;
  width: 100%;
  height: auto;
  left: 0px;
  top: 0px;
  background: #1d3557;
  border: 0.709055px solid #000000;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

nav #logo {
  width: 66.53px;
  height: 69px;
  /* margin-top: 33px; */
  margin-left: 80px;
  margin-bottom: 5px;
  /* background: url("img/Rectangle 121logo.jpg"); */
  border-radius: 885.294px;
}

nav #search {
  width: 314px;
  height: 46px;
  margin-left: 81.47px;
  background: #ececec;
  border-radius: 9.38237px;
  padding-left: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
}

nav ul li {
  list-style: none;
  width: auto;
  height: 23px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 19.8095px;
  line-height: 26px;
  /* identical to box height */

  color: #ffffff;

  transform: rotate(-0.13deg);
}

nav ul {
  width: 55%;
  height: 57px;
  display: flex;
  /* margin-left: 39.87px; */
  /* border: 2px solid black; */
  justify-content: space-evenly;
  align-items: center;
}

#menu button {
  width: 125.71px;
  height: 44.19px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7.61904px;
  cursor: pointer;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 19.8095px;
  line-height: 26px;
}

#menu-toggle {
  display: none;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-button {
  margin-right: 18px;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  right: 0px;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

/*product overview design*/
.container-box4 {
  margin: 40px;
  box-sizing: border-box;
  box-shadow: aliceblue;
  display: flex;
  flex-direction: row;
}
.info-box1 {
  margin: 20px;
}
.info-box1 h2 {
  font-size: 40px;
  margin-bottom: 15px;
}

/* Navbar End */

/* headings */
.headings ul li a {
  text-decoration: none;
  color: #000000;
  font-weight: 100;
}

/* Banner */

.banner {
  display: grid;
  grid-template-columns: 6fr 6fr;
}
.banner img {
  width: 100%;
  display: block;
  border-radius: 4px;
}
.image-container::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.image-container {
  position: relative;
  z-index: 2;
}

.image-container h6 {
  position: absolute;
  width: 321px;
  height: 47px;
  left: 50px;
  top: 40%;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  color: #ffffff;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.image-container p {
  position: absolute;
  width: 262px;
  height: 19px;
  left: 50px;
  top: 60%;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  color: #ffffff;
}

/* Blogs Summery */

.Blog-summery {
  display: grid;
  grid-template-columns: 6fr 6fr;
  column-gap: 20px;
}
.blog {
  width: 100%;
}
.blog img {
  float: left;
}
.blog h2 {
  font-size: 20px;
  font-weight: 500;
}

/* Most Latest Blog */

.latest {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  /* border-top: 10px solid black; */
  /* border-spacing: 10px; */
}
.sec img{
  /* float: left; */
  /* width: 40%; */
}
.sec h2 {
  font-size: 17px;
  font-weight: 600;
}
.sec p{
  font-size: 14px;
}
.containt{
  position: absolute;
width: 274px;
height: 52px;
left: 900px;
top: 1200.78px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 17px;
line-height: 26px;

color: #FFFFFF;
}